/* importing font from google font */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    background-color: #3D5A80;
}


/* custom style for nav */
nav{
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #293241 !important;
}

.navbar-brand{
    font-size: 32px;
    color: whitesmoke;
}


/* custom style for card */
.card{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background-color: #293241;

}


/* style for image in card */
.card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title{
    font-weight: 800;
}

.mt-4 {
    margin-top: 4rem!important;
}

.card-title{
    color: black;
}

.glassmorphism {
background: whitesmoke;
box-shadow: 0 8px 12px 0 rgba(129, 133, 190, 0.37);
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
}

.nav-item a{
    color: whitesmoke !important;
    font-size: 18px;
}


.bg-effect{

    background: #e0e0e0;
    color: #3D5A80;
}
.bg-effect h1{
    color: #293241;
}

.sub-title{
    color: #293241;
}

.compare-section{

    margin-top: 100px;

}

.compare-section form{
    margin-top: 24px;
}

th{
    color: #293241 !important;
}

table{
    font-size: 18px;
}

td{
    color: #3D5A80 !important;
    letter-spacing: 2px;
}

a:hover{
    color: orange !important;
}

.detail-container{
    margin-top: 120px;
}

.custom-form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}

/* Adjust input field width */
.form-control {
    width: 70%;
}

.edit-section{
    margin-top: 120px;
}

.edit-form label{
    color: whitesmoke;
}

.edit-form h1{
    margin: 20px;
}